.container {
    display: flexbox;
}

.banner{
    position: relative;
    width: 100%;
    height: auto; 
    overflow: hidden;
}

.banner-image {
    width: 100%;
    height: auto;
    display: block;
}

.banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.65);
    pointer-events: none; 
}

.slider-wrapper {
    position: relative;
    width: 100%;
    margin: 0 0;
}

.slider {
    display: flex;
    aspect-ratio: 16 / 9;
    overflow-x: auto; 
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.slider-nav {
    display: flex;
    column-gap: 1rem;
    position: relative;
    align-items: center;
    justify-content: safe;
    bottom: 2.25rem;
    left: 93%;
    transform: translateX(-50%);
    z-index: 1;
}

.slider-nav a {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.75;
    transform: opacity ease 250ms;
}

.slider-nav a:hover {
    opacity: 1;
}

.ayahs {
    display: flexbox;
}

.ayah-arabic {
    position: absolute;
    width: 100%;
    top: 61%;
    transform: translate(0, -100%); 
    color: white;
    font-size: 5.5rem; 
    font-weight: bold; 
    padding: 3vh 10vw 0 5vw; 
    background-color: rgb(44, 42, 42);
    opacity: 80%;
}

.ayah-english {
    position: absolute;
    top: 66.9%;
    width: 100%;
    transform: translate(0, -100%); 
    color: white;
    font-size: 2rem; 
    font-weight: bold; 
    padding: 0 10vw 1vh 5vw; 
    background-color: rgb(44, 42, 42);
    opacity: 80%;
}

@media all and (width < 600px) {
    .ayah-arabic {
        position: absolute;
        top: 62%;
        transform: translate(0, -100%); 
        color: white;
        font-size: 1.85rem; 
        font-weight: bold; 
        padding: 1vh 0 0 1vw; 
        background-color: rgb(44, 42, 42);
        opacity: 80%;
    }
    .ayah-english {
        position: absolute;
        top: 69.5%;
        transform: translate(0, -100%); 
        color: white;
        font-size: 0.6rem; 
        font-weight: bold; 
        padding: 1vh 0 0 1vw; 
        background-color: rgb(44, 42, 42);
        opacity: 80%;
    }
    .slider-nav {
        opacity: 0;
    }
    .banner {
        width: 100%;
    }
}

@media all and (600px < width < 928px) {
    .banner {
        scale: 0.85;
    }
}