body {
    background-color: black;
    margin: 0;
}

.wrapper {
    background-color: black;
}
  
.container {
    position: relative;
}

.wrapper-holder{
    display: flex;
    flex-wrap: wrap;
    margin: 30px;
    justify-content: center;
    align-items: center;
}

.images{
    height: 470px;
    width: 310px;
    margin: 20px;
    border-radius: 25px;
    box-shadow: 6px 6px 7px 7px rgb(151, 35, 35);
    border: 1.5px solid rgb(151, 35, 35);
}
  
@media all and (width < 600px) {
    .wrapper-holder {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .images {
        height: 400px;
        width: 250px;
    }
}

.black-box-2{
    height: 110px;
    background-color: black;
}

@media all and (600px < width < 928px) {
    .wrapper-holder{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin: 30px;
        background: rgb(0, 0, 0);
    }

    .images {
        scale: 0.9;
        margin: 10px;

    }
}